body{
    background-image: url("src/brick wall.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #0c111c;
    transition: Color 0.3s;
}

.content{
    background-color:  #f2f2f2 ;
    max-width: 1000px;
    align-self: center;
    margin: auto;
    transition: background-color 0.3s;
    padding: auto;
}

.recent{
    width: 70%;
    align-self: center;
    margin: auto;
    border-color: black;
    border-width: 10px;
    border: solid;
    text-align: center;
    margin-bottom: 5%;
}

#workoffer{
    margin: 5%;
}

#workoffer tbody tr{
    border: dashed;
}

#darkmode{
    background-color: transparent;
    max-width: 5%;
    border-style: none;
}

.mode{
    width: 100%;
    align-self: center;
    margin: auto;
}